<appSettings>

  <add key="Connection" value="" />

  <add key="ForceUseLocal" value="true" />
  
  <add key="Id" value="1" />
  <add key="Server" value="DG" />
  <add key="Database" value="SISAdmin" />
  <add key="Username" value="sa" />
  <add key="Password" value="" />


  <add key="GMPActive" value="true" />
  <add key="HTPActive" value="true" />
  <add key="GYMActive" value="true" />
  <add key="RACActive" value="true" />

</appSettings>